@font-face {
    font-family: 'ClashDisplay';
    src: url('/fonts/clash-display/ClashDisplay-Variable.woff2') format('woff2'),
        url('/fonts/clash-display/ClashDisplay-Variable.woff') format('woff');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Supreme';
    src: url('/fonts/supreme/Supreme-Variable.woff2') format('woff2'),
        url('/fonts/supreme/Supreme-Variable.woff') format('woff');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}